<!-- <p>login works!</p>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="username">Nombre de usuario:</label>
      <input type="text" id="username" formControlName="username">
      Verifica si el control 'username' existe y ha sido tocado antes de acceder a sus propiedades 
      <div *ngIf="loginForm.get('username')?.hasError('required') && loginForm.get('username')?.touched">
        El nombre de usuario es obligatorio.
      </div>
    </div>
  
    <div>
      <label for="password">Contraseña:</label>
      <input type="password" id="password" formControlName="password">
       Verifica si el control 'password' existe y ha sido tocado antes de acceder a sus propiedades
      <div *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
        La contraseña es obligatoria.
      </div>
    </div>
  
    <div>
      <button type="submit" [disabled]="loginForm.invalid">Iniciar sesión</button>
    </div>
  </form>
   -->

  
  <div class="container">
    <mat-card appearance="outlined" class="login-card">
      <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
        <mat-card-header>
          <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="form-row">
            <div class="form-col">
              <mat-form-field class="full-width">
                <input matInput placeholder="Email" formControlName="username">
              </mat-form-field>
              <div *ngIf="loginForm.get('username')?.hasError('required') && loginForm.get('username')?.touched">
                El nombre de usuario es obligatorio.
              </div>
            </div>
            <div class="form-col">
              <mat-form-field class="full-width">
                <input type="password" matInput placeholder="Password" formControlName="password">
              </mat-form-field>
              <div *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
                La contraseña es obligatoria.
              </div>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Submit</button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div>